@import '../common/index.scss';
.count {
  color: $c-font-base;
  font-size: 20px;
  margin-top: 10px;
  span {
    font-family: 'B612 Mono', monospace;
    color: #0afdca;
    font-size: 30px;
  }
}
